
  <h1> Welcome back!</h1>
<div fxLayou="row">
  <div fxFlex>
      <mat-card style="text-align:center;margin-left: 10px;">
        <mat-card-content >
        <img mat-card-image src="../../assets/Presentations/IntroToJavaScript/Slide1.JPG" (click)="openCarousel(256)"/>
        </mat-card-content>
        <mat-card-footer>
          Learn the basics of JavaScript with Intro To JavaScript quiz.
        <button color="primary" mat-button (click)="quizPage(256)">Go to Quiz</button>
        </mat-card-footer>
        </mat-card>
  </div>
  <div fxFlex>
      <mat-card style="text-align:center;margin-left: 10px;">
          <mat-card-content >
          <img mat-card-image src="../../assets/Presentations/IntroToCSS/Slide1.JPG" (click)="openCarousel(258)"/>
          </mat-card-content>
          <mat-card-footer>
            Learn the basics of CSS with this Intro To CSS quiz.
          <button color="primary" mat-button (click)="quizPage(258)">Go to Quiz</button>
          </mat-card-footer>
          </mat-card>
  </div>
  <div fxFlex>
      <mat-card style="text-align:center;margin-left: 10px;">
          <mat-card-content >
          <img mat-card-image src="../../assets/Presentations/IntroToNode/Slide1.JPG" (click)="openCarousel(257)"/>
          </mat-card-content>
          <mat-card-footer>
            Learn the basics of Node with Intro To Node quiz.
          <button color="primary" mat-button (click)="quizPage(257)">Go to Quiz</button>
          </mat-card-footer>
          </mat-card>
  </div>
</div>

